<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    profileName="tiehzh-001-site1 - Web Deploy"
    publishMethod="MSDeploy"
    publishUrl="https://win8129.site4now.net:8172/msdeploy.axd?site=tiehzh-001-site1"
    msdeploySite="tiehzh-001-site1"
    userName="tiehzh-001"
    userPWD=""
    destinationAppUrl="http://tiehzh-001-site1.ctempurl.com/"
    SQLServerDBConnectionString=""
    mySQLDBConnectionString=""
    />
  <publishProfile
    profileName="tiehzh-001-site1 - FTP"
    publishMethod="FTP"
    publishUrl="ftp://win8129.site4now.net:21/site1"
    ftpPassiveMode="True"
    userName="tiehzh-001"
    userPWD=""
    destinationAppUrl="http://tiehzh-001-site1.ctempurl.com/"
    SQLServerDBConnectionString=""
    mySQLDBConnectionString=""
    />
</publishData>